<!DOCTYPE html>
<html>
<!-- https://github.com/chrispahm/chartjs-plugin-dragdata -->

<head>
  <meta charset="utf-8">
  <title>Chart.js Drag Data Points Plugin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script src="../static/assets/dist/js/chartjs-plugin-dragdata.min.js"></script>
  <script src="https://unpkg.com/mathjs@7.0.2/dist/math.min.js"></script>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    canvas {
      background: url('../static/images/sombras1.png');
      background-size: 100% 100%;
      /* margin: auto; */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  </style>
</head>



<body>
  <canvas id="chartJSContainer" style="height: 100%; width: 100%;"></canvas>
  <script>



var options = {
  type: 'line',
  data: {
    labels: [1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.],
    datasets: [{
        label: '# of Votes',
        data: [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        borderWidth: 1,
        pointHitRadius: 25,
        cubicInterpolationMode: 'linear'
      },
      {
        label: '# of Points',
        data: [7, 11, 5, 8, 3, 7],
        borderWidth: 1,
        pointHitRadius: 25
      }
    ]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          reverse: false
        }
      }]
    },
    dragData: true,
    onDragStart: function(e, element) {
      startingValue = window.test.data.datasets[element._datasetIndex].data[element._index]
    },
    onDrag: function(e, datasetIndex, index, value) {
      // update the point left and right of clicked point
      // if the first point is clicked, only update the point to the right
      if (index === 0) {
        window.test.data.datasets[datasetIndex].data[index + 1] = value
       // if the last point is clicked, only update the point before
       } else if (index === (window.test.data.datasets[datasetIndex].data.length - 1)) {
         window.test.data.datasets[datasetIndex].data[index - 1] = value
       } else {
       // all other cases
         window.test.data.datasets[datasetIndex].data[index - 1] = value
         window.test.data.datasets[datasetIndex].data[index + 1] = value
       }
      window.test.update()
      //console.log(datasetIndex, index, value)
    },
    onDragEnd: function(e, datasetIndex, index, value) {
      console.log(datasetIndex, index, value)
    }
  }
}

var ctx = document.getElementById('chartJSContainer').getContext('2d');

window.test = new Chart(ctx, options);





  </script>












  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="{{ url_for('static', filename='assets/dist/js/bootstrap.bundle.js') }}"></script>


  <script type="text/javascript">
    window.MathJax = {
      jax: ["input/TeX", "output/CommonHTML"],
      extensions: ["tex2jax.js"],
      TeX: {
        equationNumbers: { autoNumber: "AMS" },
        extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
      },
      AuthorInit: function () {
        MathJax.Hub.Register.StartupHook("End Typeset", function () {
          const fullFontSize = 10;
          var renderMath = function () {

            var mjFormulae = document.getElementsByClassName("mj-formula");
            if (mjFormulae) {
              for (var i = 0; i < mjFormulae.length; ++i) {
                var mjFormula = mjFormulae[i];
                var mjElement = mjFormula.getElementsByClassName("MathJax_CHTML")[0];
                var mjTable = mjElement.getElementsByClassName("mjx-table")[0];
                var scale = 0.8 * (mjTable ?
                  mjFormula.offsetWidth / mjTable.offsetWidth :
                  mjFormula.offsetWidth / mjElement.offsetWidth);
                const oldFontSize = parseInt(mjElement.style.fontSize);
                var newFontSize = Math.round(Math.min(oldFontSize * scale, fullFontSize));
                mjElement.style.fontSize = `${newFontSize}%`;
              }
            }
          }
          renderMath();

          var timeoutId;
          const delay = 250;
          window.addEventListener("resize", function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(renderMath, delay);
          });
        });
      }
    };
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js">
  </script>




  <script>
    //   <div class="slidecontainer">
    //   <label>Orientac: </label>
    //   <span id="orientacion_value"></span>
    //   <input type="range" min="-180" max="180" value="0" class="slider" id="orientacion_range" step="1">
    // </div>
    //           <p><img src="{{ url_for('static', filename='images/fig.png') }}" class="rounded mx-auto d-block" /></p>

    // <img src="static/images/wine_red_6.jpg" alt="CÁLCULO DE LAS PÉRDIDAS" id="img_quality"
    //   style='padding:1px;  width: 50%; height: 100%'>
    var slider1 = document.getElementById("latitud_range");
    var output1 = document.getElementById("latitud_value");
    output1.innerHTML = slider1.value;
    slider1.oninput = function () {
      output1.innerHTML = this.value;
    }

    var slider2 = document.getElementById("inclinacion_range");
    var output2 = document.getElementById("inclinacion_value");
    output2.innerHTML = slider2.value;
    slider2.oninput = function () {
      output2.innerHTML = this.value;
    }

    var slider3 = document.getElementById("orientacion_range");
    var output3 = document.getElementById("orientacion_value");
    output3.innerHTML = slider3.value;
    slider3.oninput = function () {
      output3.innerHTML = this.value;
    }

    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }

    var logger = '';

    function update_dashboard(
      // perdidas_server,
      // image_server,
      fig_server
    ) {
      // perdidas.innerHTML = perdidas_server;
      img_quality.src = "data:image/png;base64, " + fig_server;
    }

    function fetchdata() {
      $.getJSON({
        type: "GET",
        url: '{{ url_for('background_process') }}',
        data: {
          'latitud': document.getElementById("latitud_value").innerHTML,
          'inclinacion': document.getElementById("inclinacion_value").innerHTML,
          'orientacion': document.getElementById("orientacion_value").innerHTML,
        },
        success: function (data) {
          logger =
            // data.perdidas_server,
            // data.image_server,
            data.fig_server;
          update_dashboard(
            // data.perdidas_server,
            // data.image_server,
            data.fig_server
          );
        }

      });
    }
    document.addEventListener("mouseup", function () { fetchdata() }, false);



  </script>
  <!-- <script src="{{ url_for('static', filename='pk.js') }}" type="text/javascript"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>